@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {

	font-size: 11px;
	background-color: #EEEEEE;
 	text-transform: uppercase;
  overflow-x: hidden;
}
h2, h3, h1, h4 {

  font-size: 15px;
  font-weight: bold;
}
/*   LOGO
---------------*/
.logo {
  background: linear-gradient(to right, black , #343957);
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  width: 170px;
  transition: width 300ms ease-in-out;
}
#clock {

	background: linear-gradient(to right, black , #343957);
	color: white;
	max-width: 100%;
	text-align: center;
  font-size: 13px;
}
#date {

	background: linear-gradient(to right, black , #343957);
	color: white;
	text-align: center;
	max-width: 100%;
  font-size: 13px;
}
#main {

    margin-left: 170px;
    max-width: 100%;
}
#d1 {

  height: 40px;
  max-width: 100%;
  background: linear-gradient(to right, #343957 , black);
  
}
.btn1 {

  height: 20px;
  background-color: #343957;
  color: #fff;
  cursor: pointer;
}
.divbtn {

  text-align: center;
}
.btn1:hover {

  background-color: #fff;
  color: #343957;
}
.btn2 {

  background-color: #343957;
  color: #fff;
  cursor: pointer;
}
.btn2:hover {

  background-color: #fff;
  color: #343957;
}
.btn3 {

  background-color: #343957;
  color: #fff;
  cursor: pointer;
}
.btn3:hover {

  background-color: #fff;
  color: #343957;
}
hr {
  background-color: black;
}
#scrollcontainer {

  overflow: hidden;
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #343957 , black);
  color: #fff;
}
#scrolltext {

  position: absolute;
  white-space: nowrap;
  font-size: 15px;
}
.table td, .table th {
    padding: 0.4rem;
}
.form-control {

  width: 200px;
  line-height: 1;
}
.form-control-sm {

  line-height: 1;
  width: 200px;
}

.datepicker {
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  font-family: 'Helvetica Neue', arial, sans-serif;
  background: white;
  z-index: 1;
  line-height: 1;
  max-width: 500px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.datepicker * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.datepicker_calendar {
  overflow: hidden;
  white-space: nowrap;
}

.datepicker_month {
  display: inline-table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.datepicker_marker,
.datepicker_day {
  font-size: .8rem;
  padding: .75em .3em;
  text-align: center;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: color 150ms, background 150ms;
}

.datepicker_marker:last-of-type,
.datepicker_day:last-of-type {
  border-right: 0;
}

.datepicker_header {
  padding: .3rem .5rem;
  text-align: center;
  background: #3bcbb7;
  text-align: justify;
}

.datepicker_header > * {
  display: inline-block;
  vertical-align: middle;
}

.datepicker_header:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.datepicker_button {
  display: inline-block;
  border: none;
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, .2);
  border-radius: 100%;
  transition: 150ms background;
}

.datepicker_button:before,
.datepicker_button:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: calc(50% - 3px);
  top: calc(50% - 3px);
  border-top: 2px solid white;
  border-right: 2px solid white;
  transition: 150ms border-color;
}

.datepicker_button:first-child:not(:last-child) {
  margin-right: .25rem;
}

.datepicker_button:hover,
.datepicker_button:active {
  background: rgba(255, 255, 255, .85)
}

.datepicker_button:focus {
  outline: 0 none;
}

.datepicker_button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.datepicker_button:hover:before,
.datepicker_button:hover:after {
  border-color: #3bcbb7;
}

.datepicker_button:active:before,
.datepicker_button:active:after {
  border-color: #3bcbb7;
}

.datepicker_button__prev-year:before {
  transform: translateX(-30%) rotate(-135deg);
}

.datepicker_button__prev-year:after {
  transform: translate(50%) rotate(-135deg);
}

.datepicker_button__prev-month:before {
  transform: translate(10%) rotate(-135deg);
}

.datepicker_button__next-year:before {
  transform: translateX(-70%) rotate(45deg);
}

.datepicker_button__next-year:after {
  transform: translate(10%) rotate(45deg);
}

.datepicker_button__next-month:before {
  transform: translate(-30%) rotate(45deg);
}

.datepicker_button__prev-month:after,
.datepicker_button__next-month:after {
  display: none;
}

.datepicker_heading {
  font-size: 1rem;
  color: #fff;
  font-family: 'Helvetica Neue', arial, sans-serif;
}

.datepicker_month {
  border: 1px solid #eee;
}

.datepicker_marker {
  color: #ccc;
  font-weight: bold;
  font-size: .7rem;
  padding: .45rem .5rem;
}

.datepicker_day {
  cursor: pointer;
}

.datepicker_day:not(.datepicker_day__selected):hover {
  color: #3bcbb7;
}

.datepicker_week:last-of-type .datepicker_day {
  border-bottom: 0;
}

.datepicker_day__weekend,
.datepicker_marker__weekend {
  background: #fafafa;
}

.datepicker_day__padding {
  background: #f8f8f8;
  color: #aaa;
}

.datepicker_day__padding.datepicker_day__weekend {
  background: #f4f4f4;
}

.datepicker_day__selected {
  background: #3bcbb7;
  color: #fff;
  border-right: 1px solid #3bcbb7;
  border-bottom: 1px solid #3bcbb7;
  font-weight: bold;
}

.datepicker_day__today {
  font-weight: 900;
}
