@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body {

	font-size: 11px;
	background-color: #EEEEEE;
 	text-transform: uppercase;
  overflow-x: hidden;
}
h2, h3, h1, h4 {

  font-size: 15px;
  font-weight: bold;
}
/*   LOGO
---------------*/
.logo {
  background: linear-gradient(to right, black , #343957);
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  width: 170px;
  transition: width 300ms ease-in-out;
}
#clock {

	background: linear-gradient(to right, black , #343957);
	color: white;
	max-width: 100%;
	text-align: center;
  font-size: 13px;
}
#date {

	background: linear-gradient(to right, black , #343957);
	color: white;
	text-align: center;
	max-width: 100%;
  font-size: 13px;
}
#main {

    margin-left: 170px;
    max-width: 100%;
}
#d1 {

  height: 40px;
  max-width: 100%;
  background: linear-gradient(to right, #343957 , black);
  
}
.btn1 {

  height: 20px;
  background-color: #343957;
  color: #fff;
  cursor: pointer;
}
.divbtn {

  text-align: center;
}
.btn1:hover {

  background-color: #fff;
  color: #343957;
}
.btn2 {

  background-color: #343957;
  color: #fff;
  cursor: pointer;
}
.btn2:hover {

  background-color: #fff;
  color: #343957;
}
.btn3 {

  background-color: #343957;
  color: #fff;
  cursor: pointer;
}
.btn3:hover {

  background-color: #fff;
  color: #343957;
}
hr {
  background-color: black;
}
#scrollcontainer {

  overflow: hidden;
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #343957 , black);
  color: #fff;
}
#scrolltext {

  position: absolute;
  white-space: nowrap;
  font-size: 15px;
}
.table td, .table th {
    padding: 0.4rem;
}
.form-control {

  width: 200px;
  line-height: 1;
}
.form-control-sm {

  line-height: 1;
  width: 200px;
}